{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index": "Meeting",
    "query" : {
        "expression" : "meetingId = :meetingId",
        "expressionValues" : {
            ":meetingId" : { "S" : "$ctx.source.meetingId" }
        }
    }
}
