#set( $companyId = $util.autoId() )
#set( $userId = $ctx.identity.sub )

## Company
#set( $companies = [] )
#set( $company = {
    "companyId": "$companyId",
    "name": "$ctx.args.name"
  }
)
$util.qr($companies.add($util.dynamodb.toMapValues($company)))

## User relation
#set( $userCompanyConnections = [] )
#set( $userCompanyConnection = {
  "userCompanyConnectionId": "$util.autoId()",
  "userId": "$userId",
  "companyId": "$companyId"
})
$util.qr($userCompanyConnections.add($util.dynamodb.toMapValues($userCompanyConnection)))

{
  "version" : "2018-05-29",
  "operation" : "BatchPutItem",
  "tables": {
    "VysaeCompany": $util.toJson($companies),
    "VysaeUserCompanyConnection": $util.toJson($userCompanyConnections)
  }
}
