#set ( $shareholderId = $util.autoId() )
#set ( $companyId = $ctx.args.companyId )

## Shareholder
#set( $shareholders = [] )
#set( $shareholder = {
  "shareholderId": "$shareholderId",
  "name": "$ctx.args.name"
} )
$util.qr($shareholders.add($util.dynamodb.toMapValues($shareholder)))

## Company relation
#set( $companyShareholderConnections = [] )
#set( $companyShareholderConnection = {
  "companyShareholderConnectionId": "$util.autoId()",
  "companyId": "$companyId",
  "shareholderId": "$shareholderId"
})
$util.qr($companyShareholderConnections.add($util.dynamodb.toMapValues($companyShareholderConnection)))

{
  "version" : "2018-05-29",
  "operation" : "BatchPutItem",
  "tables": {
    "VysaeShareholder": $util.toJson($shareholders),
    "VysaeCompanyShareholderConnection": $util.toJson($companyShareholderConnections)
  }
}