{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "companyId": { "S": "$ctx.args.companyId" },
        "shareholderId": { "S": "$util.autoId()" }
    },
    "attributeValues": {
        "name": { "S": "$ctx.args.name" }
    }
}