#if($ctx.error)
    ## Append a GraphQL error for that field in the GraphQL response
    $utils.appendError($ctx.error.message, $ctx.error.message)
#end

## Meeting
#set( $meeting = $ctx.result.data.VysaeMeeting[0] )

$util.toJson($meeting)
