#if($ctx.error)
    ## Append a GraphQL error for that field in the GraphQL response
    $utils.appendError($ctx.error.message, $ctx.error.message)
#end

## Company
#set( $company = $context.result.data.VysaeCompany[0] )

$util.toJson($company)
