{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "companyId": { "S": "$ctx.args.companyId" },
        "meetingId": { "S": "$util.autoId()" }
    },
    "attributeValues": {
        "start": { "S": "$ctx.args.meeting.start" },
        "end": { "S": "$ctx.args.meeting.end" }
    }
}
