{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "companyId": { "S": "$ctx.args.shareInterval.companyId" },
    "start": { "N": $ctx.args.shareInterval.start }
  },
  "attributeValues": {
    "end": { "N": $ctx.args.shareInterval.end },
    "attributes": $util.dynamodb.toDynamoDBJson($ctx.args.shareInterval.attributes)
  }
}
