#set( $userId = $context.identity.sub )
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "userId" : { "S" : "$userId" },
    },
    #if( ${context.arguments.count} )
        ,"limit": ${context.arguments.count}
    #end
    #if( ${context.arguments.nextToken} )
        ,"nextToken": "${context.arguments.nextToken}"
    #end
    "consistentRead" : true
}
